:root {
    --darkest: #202225;
    --dark: #292B2F;
    --medium: #2F3136;
    --semigray: #36393f;
}


@font-face {
    font-family: 'telegramarender';
    src: url('../Fonts/telegrama_render-webfont.woff2') format('woff2'),
        url('../Fonts/telegrama_render-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    overflow-x: hidden;
    font-family: 'telegramarender';
    padding: 0;
    margin: 0;
    color: silver;
    box-sizing: border-box;
    user-select: none;
}

body {
    padding-top: 80px;
    background-color: var(--semigray);
}

.stickyNavBar {
    position: fixed;
    top: 0;
    height: 80px;
    font-size: 30px;
    width: 100vw;
    background-color: var(--darkest);
    overflow: hidden;
}

.navLink {
    line-height: 80px;
    vertical-align: top;
}

.content {
    width: 100vw;
    text-align: center;
}

.error404 {
    font-size: 50px;
}

footer {
    display: table;
    position: fixed;
    bottom: 0;
    float: bottom;
    width: 100vw;
    height: 100px;
    background-color: var(--medium);
    text-align: center;
    overflow: hidden;
}

.footerText {
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
}

a:link,
a:visited {
    color: silver;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.navBarLogo {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
}

.navBarLogo:hover {
    background-color: var(--medium);
}